.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #000000b4; /* Fondo negro */
    position: relative;
    overflow: hidden;
  }
  
  .content {
    z-index: 1;
    text-align: center;
    color: white;
  }
  
  
  
  .landing-container::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
  }
  
  .landing-container::after {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
  }
  
  .landing-container img {
    width: 260px; /* Ajuste del 30% más grande */
    height: auto; /* Ajusta la altura automáticamente */
    margin-bottom: 20px; /* Espacio bajo la imagen */
  }
  
  @keyframes glow {
    0% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.3), 0 0 30px rgba(255, 0, 0, 0.2);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 0, 0, 0.7), 0 0 30px rgba(255, 0, 0, 0.5), 0 0 40px rgba(255, 0, 0, 0.3);
    }
    100% {
      box-shadow: 0 0 10px rgba(255, 0, 0, 0.5), 0 0 20px rgba(255, 0, 0, 0.3), 0 0 30px rgba(255, 0, 0, 0.2);
    }
  }
  
  .outlined-glow-text {
    font-size: 60px;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px #d80000; /* Contorno rojo */
    position: relative;
    animation: shine 2s infinite alternate;
  }
  
  @keyframes shine {
    from {
      background: linear-gradient(to right, #d80000 20%, #ffffff 40%, #d80000 60%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
    to {
      background: linear-gradient(to left, #d80000 20%, #ffffff 40%, #d80000 60%);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }
  
  /* Efecto de lluvia */
  .raindrop {
    position: absolute;
    width: 2px;
    height: 10px;
    background: rgba(255, 255, 255, 0.5);
    bottom: 100%;
    animation: fall linear infinite;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
    }
  }

  .landing-container a {
    padding: 10px 20px; /* Ajusta el padding según sea necesario */
    border: none;
    border-radius: 4px;
    background-color: #555555; /* gris oscuro */
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%; /* Asegura que todos los elementos tengan la misma altura */
    font-size: inherit; /* Hereda el tamaño de fuente del padre */
    box-sizing: border-box; /* Asegura que el tamaño total incluya el padding y border */
  }
  .landing-container a:hover {
    background-color: #444444; /* gris ligeramente más claro para el efecto hover */
  }