.create-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #0e0e0eec;
  font-family: "Segoe IU", sans-serif;
}

.create-container h2 {
  text-align: center;
  color: #4a4949;

}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #595656;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: calc(100% - 20px);
  padding: 8px 10px;
  border: 1px solid #000000;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 0.9em;
}


button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  background-color: #191919;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #414141;
}

.back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #191919;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px; /* Ajusta el margen según sea necesario */
}

.back-button:hover {
  background-color: #414141;
}